@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: "Poppins";
    color: #fff;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #1E252B;
}
.container{
    max-width: 1244px;
    padding: 0px 10px;
    margin: 0 auto;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #283036;
    z-index: 2;
}
.header__burger{
    display: none;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
            &__logo {
                display: flex;
                align-items: center;
                text-align: center;
                z-index: 3;
                img{
                    margin-right: 12px;
                }
            }
            &__body{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                position: relative;
                height: 80px;
            }
            &__logo-text {
                font-weight: 600;
                font-size: 22px;
                line-height: calc(33/22 * 100%);
                color: rgba(255, 255, 255, 0.9);
            }
    
            &__menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            &__menu-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                position: relative;
                margin-right: 200px;
                @media(max-width:1040px){
                    margin-right: 100px;
                }
                @media(max-width:925px){
                    margin-right: 20px;
                }
                z-index: 2;
            }
    
            &__menu-item {
                font-weight: 500;
                font-size: 16px;
                line-height: calc(24/16*100%);
                color: rgba(255, 255, 255, 0.55);
                transition: color .3s ease;
                &:hover{
                    color: #FF6E30;
                }
            }
    
            &__menu-link {
                color: inherit;
                margin-right: 40px;
            }
    
            &__buttons {
                font-weight: 600;
                font-size: 16px;
                line-height: calc(24/16*100%);
                color: rgba(255, 255, 255, 0.78);
                position: relative;
                z-index: 2;
                a{
                    color: inherit;
                }
            }
    
            &__login {
                margin-right: 40px;
                transition: color .3s ease ;
                &:hover{
                    color: #FF6E30;
                }
                @media(max-width:850px){
                    margin-bottom: 20px;
                    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
                    padding-top: 10px;
                }
            }
    
            &__sign {
                padding: 12px 28px;
                background-color: #FF6E30;
                border-radius: 8px;
                transition: background-color .3s ease ;
                &:hover{
                    background-color: darken($color: #FF6E30, $amount: 18);
                }
                @media(max-width:850px){
                    padding: 8px 15px;
                    margin-left: 0;
                }
            }      
    }

@media(max-width:850px){
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        background-color: #FF6E30;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all .4s ease;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #FF6E30;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .4s ease;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
       bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        display: block;
        overflow: auto;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgb(40, 48, 54);
        opacity: 0.9;
        padding-top: 100px;
        transition: all .6s ease;
    }
    .header__menu.active{
        right: -50%;
    }
    .header__buttons{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        margin-left: 20px;
        
    }
    .header__menu-list{
        display: block;
        text-align: start;
        padding: 0px 20px;
    }
    .header__menu-item{
        margin-bottom: 40px;
        color: #fff;
        text-transform: uppercase;
    }
}

.hero {
    margin-bottom: 150px;
    @media(max-width:850px){
        margin-bottom: 100px;
    }
    @media(max-width:420px){
        margin-bottom: 50px;
    }
    &__page{
      background: url('../img/Illustration.png')no-repeat right 100%;
    }

    &__container {
        
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
        @media(max-width:850px){
            padding-top: 50px;
        }
    }

    &__info {
        margin-top: 100px;
    }

    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.9);
        max-width: 600px;
        margin-bottom: 30px;
        span{
            color: #FF6E30;
        }
        @media(max-width:515px){
            font-size: 40px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: calc(30/18*100%);
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 60px;
        max-width: 487px;
    }

    &__input {
        display: flex;
        justify-content: space-between;
        background: #283036;
        border-radius: 15px;
        max-width: 500px;
        padding: 8px 18px;
        margin-bottom: 130px;
        @media(max-width:515px){
            width: 400px;
        }
        @media(max-width:420px){
            width: 290px;
        }
        input{
            display: inline-block;
            border: none;
            background: transparent;
            font-family: inherit;
            width: 300px;
            color: inherit;
        }

        .placeholder{  
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.38);
            @media(max-width:420px){
                font-size: 12px;
            }
        }
    }

    &__input-img {
    
    }

    &__input-btn {
        background: #FF6E30;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: calc(24/16*100%);
        color: #FFFFFF;
        padding: 12px 36px;
        transition: background-color .3s ease ;
        &:hover{
            background-color: darken($color: #FF6E30, $amount: 18);
        }
        @media(max-width:420px){
            padding: 8px 15px;
            font-size: 14px;
        }
    }

    &__social {
        img{
            margin-right: 30px;
            transition: transform .4s ease ;
            &:hover{
                transform: scale(1.5);
                }
        }
    }

    &__bg-img {
        margin-top: 60px;
    }
}

.tools {
    margin-bottom: 150px;
    @media(max-width:520px){
        margin-bottom: 80px;
    }
    &__container {}

    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 25px;
        @media(max-width:420px){
            font-size: 35px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        max-width: 427px;
        color: rgba(255, 255, 255, 0.55);
        margin: 0 auto;
        padding-bottom: 90px;
        @media(max-width:420px){
            padding-bottom: 70px;
        }
    }

    &__body {
        display: grid;
        grid-template:repeat( 2, 50%) / repeat( 3, 33.33%);
        justify-items: center;
        grid-gap: 30px;
        margin-bottom: 100px;
        @media(max-width:1340px){
            grid-template:repeat( 3, 33.33%) / repeat( 2, 50%);
            justify-items: center;
            grid-gap: 10px;
            margin-bottom: 50px;
        }
        @media(max-width:850px){
            grid-template:repeat( 6, 16.666%) / repeat( 1, 100%);
            justify-items: center;
            grid-gap: 10px;
            margin-bottom: 50px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background: rgba(44, 53, 61, 0.2);
        border-radius: 15px;
        width: 392px;
        padding: 33px;
        margin-bottom: 70px;
        transition: all .3s ease ;
        @media(max-width:1340px){
            width: 540px;
            margin-bottom: 30px;
        }
        @media(max-width:1140px){
            width: 480px;
        }
        @media(max-width:1030px){
            width: 430px;
        }
        @media(max-width:915px){
            width: 392px;
        }
        @media(max-width:850px){
            width: 480px;
        }
        @media(max-width:520px){
            width: 300px;
        }
    
        &:hover{
            background: linear-gradient(#ff660070, rgba(100, 100, 100, 0.2));
            backdrop-filter: blur(50px);
            border-radius: 15px;
            transform: translate(0px, -30px);
            .tools__item-visit{
                background: #FF6E30;
                border-radius: 8px;
                transition: background-color .3s ease ;
                &:hover{
                    background-color: darken($color: #FF6E30, $amount: 18);
                }
            }
            .tools__item-price{
                color: #FFA537;
            }
            .tools__item-title{
                color: rgba(255, 255, 255, 0.9);
            }
            .tools__item-text{
                color: rgba(255, 255, 255, 0.78);
            }
        }
    }

    &__item-image{
        margin-right: 40px;
    }
    &__item-head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
    }

    &__item-img {}

    &__item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 5px;
        color: rgba(255, 255, 255, 0.78);
    }

    &__item-price {
        font-size: 18px;
        line-height: calc(27/18*100%);
        color: rgba(255, 165, 55, 0.55);
    }

    &__item-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 326px;
        color: rgba(255, 255, 255, 0.55);
    }

    &__item-icon {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    &__item-icon-like {
        display: inline-block;
        transition: transform .3s ease;
        &:hover{
        transform: scale(1.4);
        }
    }

    &__item-icon-add {
        transition: transform .3s ease;
        flex-basis: 80px;
        margin-left: -80px;
        &:hover{
            transform: scale(1.4);
        }
        @media(max-width:1340px){
            margin-left: -150px;
        }
        @media(max-width:1140px){
            margin-left: -120px;
        }
        @media(max-width:1030px){
            margin-left: -100px;
        }
        @media(max-width:915px){
            margin-left: -85px;
        }
        @media(max-width:850px){
            margin-left: -120px;
        }
        @media(max-width:520px){
            margin-left: -35px;
        }
    }

    &__item-visit {
        font-weight: 600;
        font-size: 16px;
        line-height: calc(24/16*100%);
        padding: 9px 35px;
        color: rgba(255, 255, 255, 0.55);
    }
    &__load-more{
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        background: #1E252B;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(30/20*100%);
        color: #FF6E30;
        padding: 17px 38px;
        width: 184px;
        height: 64px;
        transition: background-color .4s ease;
        &:hover{
            color: rgba(255, 255, 255, 0.78);
            background-color: #FF6E30;
        }
    }
}
.brands {
margin-bottom: 150px;
@media(max-width:520px){
    margin-bottom: 100px;
}
    &__container {}

    &__body {
        background: linear-gradient(190deg, #ff660062 10%, rgba(29, 29, 29, 0.678) 90%);
        border-radius: 25px;
        padding: 55px 82px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width:1040px){
            padding: 35px 60px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: calc(36/24*100%);
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 55px;
        text-align: center;
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 110px;
        justify-content: center;
        @media(max-width:1040px){
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-gap: 80px;
            justify-content: center;
        }
        @media(max-width:520px){
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4,1fr);
            grid-gap: 45px;
            justify-content: center;
        }
    }

    &__logo {}

    &__logo-img {
        max-width: 100%;
        max-height: 100%;
        transition: transform .4s ease;
        &:hover{
            transform: scale(1.5);
        }
        @media(max-width:1040px){
            max-width: 200px;
            max-height: 50px;
        }
    }
}
.new-tools {
margin-bottom: 150px;

    &__container {}

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width:940px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__info {
        margin-right: 50px;
        @media(max-width:940px){
            margin-bottom: 50px;
            margin-right: 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 30px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 60px;
        max-width: 427px;
    }

    &__btn {
        background: #FF6E30;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: calc(27/18*100%);
        color: #FFFFFF;
        padding: 15px 40px;
        transition: background-color .4s ease;
        &:hover{
            background-color: darken($color: #FF6E30, $amount: 18);
        }
        @media(max-width:940px){
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 60px;
        }
    }

    &__items {
        display: grid;
        grid-template:repeat( 2, 50%) / repeat( 2, 50%);
        grid-gap: 25px;
        @media(max-width:650px){
            grid-template:repeat( 4, 25%) / repeat( 1, 100%);
            grid-gap: 0;
        }
    }
}

.new-tools-item {
    max-width: 288px;
    max-height: 284px;
    margin-bottom: 25px;
    @media(max-width:650px){
        max-width:400px;
    }
}

.new-tools-item-icon-add{
    margin-left: -30px;
    @media(max-width:650px){
        margin-left: -120px;
    }
    @media(max-width:520px){
        margin-left: -60px;
    }
}
.slider {
    margin-bottom: 200px;
    @media(max-width:1040px){
        margin-bottom: 100px;
    }
    @media(max-width:540px){
        margin-bottom: 60px;
    }
    &__container {}

    &__body {
       
    }
    &__items{
        position: relative;
        padding: 0px 30px;
    }

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:720px){
            flex-direction: column;
        }
    }

    &__image {
        position: relative;
        margin-right: 80px;
        @media(max-width:760px){
            margin-right: 40px;
        }
        @media(max-width:720px){
            margin-right: 30px;
            margin-bottom: 30px;
        }
    }

    &__img {
        @media(max-width:720px){
            max-width: 100%;
            max-height: 100%;
        }
        @media(max-width:560px){
            max-width: 250px;
            max-height: 380px;
        }
    }

    &__about{
        background: rgba(40, 48, 54, 0.8);
        border-radius: 8px;
        padding: 16px 23px;
        width: 265px;
        height: 91px;
        top: 380px;
        right: 0;
        position: absolute;
        align-items: center;
        text-align: start;
        @media(max-width:720px){
            width: 200px;
            height: 71px;
            padding: 8px 16px;
        }
        @media(max-width:560px){
            top: 210px;
            left: 100px;
        }
        @media(max-width:480px){
            width: 190px;
            height: 61px;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 26px;
        line-height: calc(39/26*100%);
        letter-spacing: 0.015em;
        color: rgba(255, 253, 253, 0.78);
        margin-bottom: 2px;
        @media(max-width:720px){
            font-size: 18px;
        }
    }

    &__prof {
        font-size: 16px;
        font-weight: 400;
        line-height: calc(24/16*100%);
        color: rgba(255, 253, 253, 0.55);
        @media(max-width:720px){
            font-size: 14px;
        }
    }

    &__info {
        
    }

    &__text {
        font-size: 14px;
        line-height: calc(30/14*100%);
        letter-spacing: 0.015em;
        color: rgba(255, 255, 255, 0.78);
        max-width: 393px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;;
        position: relative;
        @media(max-width:560px){
            max-width: 290px;
        }
        @media(max-width:480px){
            max-width: 200px;
            text-align: center;
        }
    }
    &__text::before{
        content: '';
        position: absolute;
        display: block;
        background-image: url('../img/cyt.svg');
        width: 100px;
        height: 100px;
        top: -50px;
        left: -50px;
    }
}

.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    margin: -12px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 12px;
    height: 24px;
}
.slick-arrow.slick-prev{
    left: 0;
    background: url('../img/arrow-left.svg') 0 0 / 100% no-repeat;
    transition: transform .4s ease ;
    &:hover{
        transform: scale(2);
    }
}
.slick-arrow.slick-next{
    right: 0;
    background: url('../img/arrow-right.svg') 0 0 / 100% no-repeat;
    transition: transform .4s ease ;
    &:hover{
        transform: scale(2);
    }
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    @media(max-width:720px){
        margin-top: 60px;
    }
    @media(max-width:480px){
        margin-top: 40px;
    }
}
.slick-dots li{
    margin: 0px 20px;
}
.slick-dots li.slick-active button{
    background: #FF6E30;
    border-radius: 4px;
    width: 46px;
    height: 8px;
}
.slick-dots li button{
    font-size: 0;
    width: 44px;
    height: 6px;
    background: #283036;
    border-radius: 4px;
}

.subscribe {
margin-bottom: 200px;
@media(max-width:1040px){
    margin-bottom: 100px;
}
@media(max-width:540px){
    margin-bottom: 60px;
}
    &__container {}

    &__body {}

    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 25px;
    }

    &__text {
        margin: 0 auto;
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        color: rgba(255, 255, 255, 0.55);
        max-width: 427px;
        padding-bottom: 100px;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        background: #283036;
        border-radius: 15px;
        max-width: 550px;
        padding: 8px 20px;
    }

    &__input {
        border: none;
        background: transparent;
        color: inherit;
        font-family: inherit;
        .placeholder{
            font-size: 14px;
            line-height: calc(21/14*100%);
            color: rgba(255, 255, 255, 0.38);
        }
    }

    &__form-button {
        background: #FF6E30;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: calc(24/16*100%);
        color: #FFFFFF;
        padding: 12px 35px;
        transition: background-color .4s ease ;
        &:hover{
            background-color: darken($color: #FF6E30, $amount: 18);
        }
        @media(max-width:480px){
            padding: 8px 16px;
        }
    }
}
.footer {
margin-bottom: 100px;
border-top: 0.5px solid rgba(255, 255, 255, 0.15);
    &_title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(30/20*100%);
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 20px;
    }

    &_link {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16*100%);
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 10px;
        transition: color .4s ease;
        &:hover{
            color: #FF6E30;
        }
        @media(max-width:850px){
            font-size: 20px;
        }
    }

    &__container {}

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 70px;
        @media(max-width:850px){
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__info {
        @media(max-width:850px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
    }
    &__logo-img{
        margin-right: 12px;
    }

    &__logo-text {
        font-weight: 600;
        font-size: 22px;
        line-height: calc(33/22*100%);
        color: rgba(255, 255, 255, 0.9);
    }

    &__copy {}

    &__copy-copyright {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16*100%);
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 20px;
    }

    &__copy-text {
        font-size: 14px;
        line-height: calc(25/14*100%);
        color: rgba(255, 255, 255, 0.55);
        max-width: 260px;
        
    }
    &__links{
        display: flex;
        flex-direction: column;
        li{
            margin-bottom: 20px;
            @media(max-width:850px){
                margin-bottom: 30px;

            }
        }
    }
    
}
@media(max-width:850px){
    .footer_title {
        font-weight: 500;
        font-size: 30px;
        line-height: calc(30/20*100%);
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 30px;
        text-transform: uppercase;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }
    .footer_title::before,
    .footer_title::after{
        content: '';
        width: 15px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 20px;
        transition: all .4s ease;
    }
    .footer_title::before{
        transform: rotate(40deg);
        left: 0;
    }
    .footer_title::after{
        transform: rotate(-40deg);
        left: 9px;
    }
    .footer__links{
        display: none;
    }
}
.footer_title.active::before,
.footer_title.active::after{
    background-color: #FF6E30;
}
.footer_title.active::before{
    transform: rotate(-40deg);
}
.footer_title.active::after{
    transform: rotate(40deg);
}
